[submodule "ppt-master"]
	path = ppt-master
	url = https://github.com/hugohe3/ppt-master
[submodule "ui-ux-pro-max-skill"]
	path = ui-ux-pro-max-skill
	url = https://github.com/nextlevelbuilder/ui-ux-pro-max-skill
[submodule "superpowers"]
	path = superpowers
	url = https://github.com/obra/superpowers.git
[submodule "mattpocock-skills"]
	path = mattpocock-skills
	url = https://github.com/mattpocock/skills.git
[submodule "codegraph"]
	path = codegraph
	url = https://github.com/colbymchenry/codegraph.git
